:root {
  --swagger-ui-theme-bg: #121212;
  --swagger-ui-theme-text: #ffffff;
  --swagger-ui-theme-border: #333;
}

body.swagger-ui {
  background-color: var(--swagger-ui-theme-bg) !important;
  color: var(--swagger-ui-theme-text) !important;
}
.swagger-ui {
  color: var(--swagger-ui-theme-text) !important;
  font-family: sans-serif;
  background: var(--swagger-ui-theme-bg) !important;
  height: calc(100vh - 70px) !important;
}

.swagger-ui .opblock {
  background-color: #222 !important;
  border-color: var(--swagger-ui-theme-border) !important;
}

body,
.swagger-ui .opblock-summary,
.swagger-ui .topbar,
.swagger-ui .opblock .opblock-section-header,
.swagger-ui .dialog-ux .modal-ux,
.swagger-ui .scheme-container {
  background: var(--swagger-ui-theme-bg) !important;
}
.swagger-ui .opblock-summary,
.swagger-ui .info,
.swagger-ui .response-col_status,
.swagger-ui .response-col_description,
.swagger-ui .response-col_links,
.swagger-ui .opblock .opblock-summary-operation-id,
.swagger-ui .opblock .opblock-summary-path,
.swagger-ui .opblock .opblock-summary-path__deprecated,
.swagger-ui .opblock-tag,
.swagger-ui table thead tr td,
.swagger-ui table thead tr th,
.swagger-ui .opblock-control-arrow,
.swagger-ui .opblock .opblock-section-header h4,
.swagger-ui .info .title,
.swagger-ui .info li,
.swagger-ui .info p,
.swagger-ui .info table,
.swagger-ui .opblock-description-wrapper p,
.swagger-ui .opblock-external-docs-wrapper p,
.swagger-ui .opblock-title_normal p,
.swagger-ui .tab li,
.swagger-ui section.models h4,
.swagger-ui .model-title,
.swagger-ui .model,
.swagger-ui .expand-methods,
.swagger-ui .expand-operation {
  color: var(--swagger-ui-theme-text) !important;
  fill: var(--swagger-ui-theme-text) !important;
}
